<section>
  <div class="col-md-10" style="margin: 0 auto; float:none;">
    <md-content flex layout-padding md-colors="{color:'blue-grey'}">
      <p>Welcome to CPI Productions' personalized birthday greetings to celebrate SPECIAL OCCASIONS. These mini-newspaper-style personalized greetings highlight what happened on the day you were born.</p>
      <p>You can email or print these nostalgic greetings for many occasions, including BIRTHDAYS and ANNIVERSARIES, with the ability to add a personal message.</p>
      <p>Professional salespeople use these greetings as a way to have a memorable contact with their clients to enhance client retention. An important feature allows you to send someone a greeting for a FUTURE date and to receive email REMINDERS for upcoming birthdays.</p>
      <p>What's included? Looking back in time, you can view:</p>
      <div>
        <ul>
          <li>Gallon of milk</li>
          <li>Loaf of bread </li>
          <li>New car</li>
          <li>Gallon of gas</li>
          <li>New home</li>
          <li>Wages</li>
          <li>S&P 500</li>
          <li>Most popular girls names</li>
          <li>Most popular boys names</li>
          <li>President</li>
          <li>Vice President</li>
          <li>Popular music</li>
          <li>Best movie</li>
          <li>Best actor</li>
          <li>Best actress</li>
          <li>World Series Baseball</li>
          <li>Super Bowl (1967 – present)</li>
          <li>Most popular TV shows</li>
        </ul>
      </div>
    </md-content>
    <md-content flex layout-padding md-colors="{color:'blue-grey'}">
      <h2 id="whoweare">Who We Are</h2>
      <p> CPI Productions LLC was founded by Courtney Bonacci. By day, she is a financial advisor at a large brokerage firm. She sends birthday emails to all of her clients but grew tired of emailing traditional birthday e-cards. She also wanted to illustrate to her clients the immense impact that time can have on your money and investments. Thus, www.bithdayheadliens.com and www.birthdaynewsletter.com was born.</p>
      <p>The company, CPI Productions, stands for: C: Classic, Client, Communication, Connect, Contact, Customer, Customized P: Particular, Past, Personal, Personalized I: Important, In this year, Inflation, Information In essence, our goal is to help salespeople create automated meaningful, memorable interactions with their clients. We are happy to discuss custom solutions/templates for you and your company.</p>
    </md-content>
    <md-content flex layout-padding md-colors="{color:'blue-grey'}">
      <h2 id="features">Features</h2>
      <p>A one-off OR subscription-based email or printed greeting to recognize important days in people's lives.</p>
      <p>Reminder tool so you won't forget anyone's birthday again. Input the data once and receive annual reminders for events. Future editions to include:</p>
      <div>
        <ul>
          <li>Template's by decade, ie, 1940's, 1950's, 1960's, 1970's, 1980's, etc.</li>
          <li>Price of a US stamp</li>
          <li>Broadway shows</li>
          <li>Time Magazine Person of the Year</li>
          <li>Population of the US</li>
          <li>Fashion trends</li>
          <li>and more……</li>
        </ul>
      </div>
    </md-content>
    <md-content flex layout-padding md-colors="{color:'blue-grey'}">
      <h2 id="contact">Contact</h2>
      <p> Technical Support</p>
      <p>415 377 1927</p>
      <p>Email: support@birthdayheadlines.com</p>
      <p>Privacy Policy</p>
    </md-content>
  </div>
</section>
