<md-dialog aria-label="Logout" md-colors="{color:'blue-grey'}">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Logout</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <P> Are you sure you want to logout?</P>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-primary faded-jade" href="/api/auth/signout" target="_self">Yes
        <md-tooltip md-direction="top" class="mat-tooltip">Logout</md-tooltip>
      </md-button>
      <md-button class="md-raised md-primary faded-jade" ng-click="cancel()">No</md-button>
      <span flex></span>
    </md-dialog-actions>
  </form>
</md-dialog>
