<p>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</p>
<p>
  <title>The Birthday Times</title>
</p>
<p>
  <style type="text/css">
  img {
    border: 0px;
  }

  a:link {
    color: #000;
  }

  </style>
</p>
<!-- Body Styles-->
<table width="624" border="0" cellpadding="0" cellspacing="0" background="https://www.birthdayheadlines.com/images/bg2.gif" style="text-align:center;">
  <tbody>
    <tr>
      <td colspan="2" style="text-align:left;"><img src="https://www.birthdayheadlines.com/images/top1.gif" width="624" height="25" alt=""></td>
    </tr>
    <tr>
      <!-- Header-->
      <td colspan="2" style="vertical-align:top; padding-left: 25px;">
        <table width="572" border="0" cellspacing="0" cellpadding="0" style="text-align:center;">
          <tbody>
            <tr>
              <td><img src="https://www.birthdayheadlines.com/images/line1.png" width="572" height="8" alt=""></td>
            </tr>
            <tr>
              <td><img src="https://www.birthdayheadlines.com/images/logobar.png" width="572" height="95" alt=""></td>
            </tr>
            <tr>
              <td><img src="https://www.birthdayheadlines.com/images/line2.png" width="572" height="5" alt=""></td>
            </tr>
            <tr>
              <td style="text-align:center;">
                <table width="572" border="0" cellspacing="0" cellpadding="4" style="background-color:#000;">
                  <tbody>
                    <tr>
                      <td width="180" style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #fff; font-style: italic; text-align:left;"><a style="color:#fff;">S&amp;P 500: TAG_SP</a></td>
                      <td width="188" style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #fff; font-style: italic; text-align:center;">Happy Birthday, TAG_CUSTOMER_FIRST_NAME&nbsp;TAG_CUSTOMER_LAST_NAME</td>
                      <td width="180" style="font-size:14px; font-family: 'Times New Roman', Times, serif; color: #fff; font-style: italic; text-align:right;">TAG_MONTH TAG_DATE, TAG_YEAR</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td><img src="https://www.birthdayheadlines.com/images/line2.png" width="572" height="5" alt=""></td>
            </tr>
          </tbody>
        </table>
        <table width="565" border="0" cellspacing="0" cellpadding="0" style="text-align:center;">
          <tbody>
            <tr>
              <td style="text-align:left; vertical-align:top;">
                <!-- Big Headline-->
                <table width="375" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td style="font-size:30px; font-family: 'Times New Roman', Times, serif; color: #000; font-weight: bold; letter-spacing: -2px;">Extra! Extra! Read All About It!
                        <br>TAG_CUSTOMER_FIRST_NAME&nbsp;TAG_CUSTOMER_LAST_NAME Was Born Today!</td>
                    </tr>
                    <tr>
                      <td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #000; text-align:left;">News Headlines from TAG_YEAR</td>
                    </tr>
                    <tr>
                      <td><img src="TAG_EVENT1_IMAGE" width="373" height="220" alt="" style="margin:6px 0;"></td>
                    </tr>
                    <tr>
                      <td style="font-size:15px; font-family: 'Times New Roman', Times, serif; color: #000; line-height: 21px;">
                        <ul>
                          <li>In TAG_YEAR TAG_PRESIDENT was President and TAG_VICE_PRESIDENT was Vice President.
                            <br>
                          </li>
                          <li>TAG_INCIDENT1</li>
                          <li>TAG_INCIDENT2</li>
                          <li>TAG_INCIDENT3</li>
                          <li>TAG_INCIDENT4</li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td style="text-align:right;">&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
                <!-- Second Headline-->
                <table width="370" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td><img src="https://www.birthdayheadlines.com/images/line3.png" width="380" height="5" alt=""></td>
                    </tr>
                    <tr>
                      <td style="font-size:24px; font-family: 'Times New Roman', Times, serif; color: #000; font-weight: bold; letter-spacing: -2px;">TAG_YEAR: Cost of Living</td>
                    </tr>
                    <tr>
                      <td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #000; text-align:left;">The Power of the Dollar When You Were Born</td>
                    </tr>
                    <tr>
                      <td style="height:10px; text-align:left; vertical-align:top;"></td>
                    </tr>
                    <tr>
                      <td height="131" style="text-align:left; vertical-align:top;">
                        <table width="99%" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td width="224"><img src="TAG_CAR_IMAGE" width="215" height="135" alt=""></td>
                              <td width="152" style="font-size:15px; font-family: 'Times New Roman', Times, serif; color: #000; line-height: 21px; text-align:left;">
                                <p>A Quart of Milk: <strong>TAG_GALLON_OF_MILK</strong>
                                  <br> A Loaf of Bread: <strong>TAG_LOAF_OF_BREAD</strong>
                                  <br> A car: <strong>TAG_NEW_CAR</strong>
                                  <br> A Gallon of Gas:
                                  <strong>TAG_GALLON_OF_GAS</strong>
                                  <br> New Home: <strong>TAG_NEW_HOME</strong>
                                  <br>
                                  <br>
                                </p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table width="370" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td><img src="https://www.birthdayheadlines.com/images/line3.png" width="380" height="5" alt=""></td>
                    </tr>
                    <tr>
                      <td style="height:5px; text-align:left; vertical-align:top;"></td>
                    </tr>
                    <tr>
                      <td height="155" style="text-align:left; vertical-align:top;">
                        <!-- Two Smaller Headline-->
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td height="21" style="text-align:left; vertical-align:top;">
                                <table width="180" border="0" cellspacing="0" cellpadding="1">
                                  <tbody>
                                    <tr>
                                      <td style="font-size:20px; font-family: 'Times New Roman', Times, serif; color: #000; font-weight: bold; letter-spacing: 0px; text-align:left; vertical-align:top;">TAG_YEAR: The Year In Sports</td>
                                    </tr>
                                    <tr>
                                      <td height="80" style="font-size:15px; font-family: 'Times New Roman', Times, serif; color: #000; line-height: 21px; text-align:left; vertical-align:top;">The <strong>TAG_WORLD_SERIES_WINNER</strong> won the World Series.<span id="spnSuperbowl"><strong>TAG_SUPERBOWL_WINNER</strong> won the Super Bowl.</span></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                              <td style="background-color: #000; width: 2px; text-align:left;"></td>
                              <td style="font-size:15px; font-family: 'Times New Roman', Times, serif; color: #000; line-height: 21px; text-align:right; vertical-align:top;">
                                <table width="180" border="0" cellspacing="0" cellpadding="1" style="margin-left: 10px">
                                  <tbody>
                                    <tr>
                                      <td style="font-size:20px; font-family: 'Times New Roman', Times, serif; color: #000; font-weight: bold; letter-spacing: 0px; text-align:left; vertical-align:top;">Popular Names in TAG_YEAR</td>
                                    </tr>
                                    <tr>
                                      <td style="font-size:15px; font-family: 'Times New Roman', Times, serif; color: #000; line-height: 21px; text-align:left; vertical-align:top;">The most popular name for a boy was <strong>TAG_POPULAR_BOY</strong>.
                                        <br/> The most popular name for a girl was <strong>TAG_POPULAR_GIRL</strong>.</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td height="21" colspan="3" style="text-align:left; vertical-align:bottom;"><img src="https://www.birthdayheadlines.com/images/line3.png" width="380" height="5" alt=""></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p><span style="font-size:20px; font-family: 'Times New Roman', Times, serif; color: #000; font-weight: bold; letter-spacing: 0px;">The Market in TAG_YEAR<br>
              </span>S&amp;P 500: TAG_SP
                  <br> Gain to 2017: TAG_GAINTO</p>
              </td>
              <td width="180" style="text-align:right; vertical-align:top;">
                <!-- In This Issue-->
                <table width="170" border="0" cellspacing="0" cellpadding="5" style="border:1px solid #000; margin-top:10px; background-color:#e6e6e6;">
                  <tbody>
                    <tr>
                      <td style="text-align:center; vertical-align:top;">
                        <table width="168" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #000; font-weight: bold; letter-spacing: 0px;">Best songs in TAG_YEAR</td>
                            </tr>
                            <tr>
                              <td style="background-color:#000; height:1px;"></td>
                            </tr>
                            <tr>
                              <td style="height:8px;"></td>
                            </tr>
                          </tbody>
                        </table>
                        <table width="168" border="0" cellspacing="0" cellpadding="1">
                          <tbody>
                            <tr>
                              <td style="width:13px; vertical-align: top">1</td>
                              <td width="127" style="font-size:15px; font-family: 'Times New Roman', Times, serif; color: #000; line-height: 21px;"><strong>Pop Song:</strong>, <em>TAG_POP_SONG</em>
                                <br>
                              </td>
                            </tr>
                            <tr>
                              <td style="width:13px; vertical-align: top">2</td>
                              <td style="font-size:15px; font-family: 'Times New Roman', Times, serif; color: #000; line-height: 21px;"><strong>Hip Hop Song:</strong>, <em>TAG_HIP_HOP_SONG</em></td>
                            </tr>
                          </tbody>
                        </table>
                        <table width="168" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #000; font-weight: bold; letter-spacing: 0px;">&nbsp;</td>
                            </tr>
                            <tr>
                              <td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #000; font-weight: bold; letter-spacing: 0px;">Academy Award Winning Movies</td>
                            </tr>
                            <tr>
                              <td style="background-color:#000; height:1px;"></td>
                            </tr>
                            <tr>
                              <td><img alt="" style="margin:5px 0; max-width:155px; max-height:230px;" src="TAG_MOVIE_IMAGE"></td>
                            </tr>
                            <tr>
                              <td style="font-size:15px; font-family: 'Times New Roman', Times, serif; color: #000; line-height: 21px;">
                                <p>Best Motion Picture:
                                  <br>
                                  <strong>TAG_MOVIE</strong>
                                  <br> Best Actor:
                                  <br>
                                  <strong>TAG_ACTOR</strong>
                                  <br> Best Actress:
                                  <br>
                                  <strong>TAG_ACTRESS</strong></p>
                              </td>
                            </tr>
                            <tr>
                              <td style="text-align:right;">&nbsp;</td>
                            </tr>
                          </tbody>
                        </table>
                        <table width="168" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #000; font-weight: bold; letter-spacing: 0px;"></td>
                            </tr>
                            <tr>
                              <td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #000; font-weight: bold; letter-spacing: 0px;">Popular TV Shows</td>
                            </tr>
                            <tr>
                              <td style="background-color:#000; height:1px;"></td>
                            </tr>
                            <tr>
                              <td></td>
                            </tr>
                            <tr>
                              <td style="font-size:15px; font-family: 'Times New Roman', Times, serif; color: #000; line-height: 21px;">TAG_POPULAR_TV_SHOW</td>
                            </tr>
                            <tr>
                              <td style="text-align:right;">&nbsp;</td>
                            </tr>
                          </tbody>
                        </table>
                        <table width="168" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td width="158" style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #000; font-weight: bold; letter-spacing: 0px;"></td>
                            </tr>
                            <tr>
                              <td style="font-size:17px; font-family: 'Times New Roman', Times, serif; color: #000; font-weight: bold; letter-spacing: 0px;">Time Person of the Year</td>
                            </tr>
                            <tr>
                              <td style="background-color:#000; height:1px;"></td>
                            </tr>
                            <tr>
                              <td>
                                <table width="50%">
                                  <tr>
                                    <td><img width="167" src="TAG_TIME_PERSON_IMAGE" alt="" style="width: 167px; border: 0; text-decoration:none; vertical-align: baseline;"></td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td style="font-size:15px; font-family: 'Times New Roman', Times, serif; color: #000; line-height: 21px;">
                                <p>TAG_TIME_PERSON_OF_THE_YEAR</p>
                              </td>
                            </tr>
                            <tr>
                              <td style="text-align:right;">&nbsp;</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table width="370" cellspacing="0" cellpadding="0" border="0" style="text-align: left">
                  <tbody>
                    <tr>
                      <td>
                        <p><img src="TAG_SPCHART_IMAGE" width="373" height="220" alt="" style="margin:2px 0;"></p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td>
                <p>
                  Happy Birthday from the Birthday Headlines Team. </p>
                <p> For more information about our services, please visit www.birthdayheadlines.com
                </p>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Footer-->
        <table width="572" border="0" cellspacing="0" cellpadding="0" style="text-align:center;">
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:left;"><img src="https://www.birthdayheadlines.com/images/bottom.gif" width="624" height="25" alt=""></td>
    </tr>
  </tbody>
</table>
