<div>
  <p>Dear TAG_CUSTOMER, </p>
  <p>On behalf of all our team, we would like to wish you a Happy Birthday.
    <p>
      <p>We wish you a spectacular life and committed behavior towards your wishes and desires!</p>
      <p>We would like to an extra mile by delighting you with some amazing facts, Historic events happened on Your Birthday!!!!. </p>
      <p>Below are the some of the important facts on the day of your birth.&nbsp;</p>
      <ul>
        <li>​<b>TAG_PRESIDENT</b> was the President of the United States</li>
        <li><b>TAG_VICE_PRESIDENT</b> was serving as Vice President
          <br>
        </li>
        <li>TAG_INCIDENT1</li>
        <li>TAG_INCIDENT2</li>
        <li>TAG_INCIDENT3</li>
        <li>TAG_INCIDENT4</li>
        <li>The actor <b>TAG_ACTOR</b> has born on this year</li>
        <li>The actress <b>TAG_ACTRESS</b> has born on this year</li>
        <li>The baseball player <b>TAG_BASEBALL_PLAYER</b> has born on this year</li>
        <li>The Superbowl player <b>TAG_SUPERBOWL_PLAYER</b> has born on this year</li>
        <li>Do you know on the year of your birth <b>TAG_TV_SHOW </b> was one of the most popular TV series</li>
        <li>Do you know on the year of your birth <b>TAG_MOVIE </b> was one of the most popular TV series</li>
      </ul>
      <p>We hope you liked some of the amazing facts and historic events we had to share on the eve of your birthday. </p>
      <p>Happy Birthday and Have a Good One!</p>
      <p>Regards,</p>
      <p>Birthday Headlines Team</p>
</div>
<!-- <div>
<p>Dear TAG_CUSTOMER, </p>
<p>On behalf of all our team, we would like to wish you a Happy Birthday.<p>
<p>We wish you a spectacular life and committed behavior towards your wishes and desires!</p>
<p>We would like to an extra mile by delighting you with some amazing facts, Historic events happened on Your Birthday!!!!. </p>
<p>Below are the some of the important facts on the day of your birth.&nbsp;</p>
<ul>
	<li>​<b>TAG_PRESIDENT</b> was the President of the United States</li>
	<li><b>TAG_VICE_PRESIDENT</b> was serving as Vice President<br></li>
	<li>TAG_INCIDENT1</li>
	<li>TAG_INCIDENT2</li>
	<li>TAG_INCIDENT3</li>
	<li>TAG_INCIDENT4</li>
	<li>The TAG_ACTOR_ROLE <b>TAG_ACTOR</b> has born on this day at <b>TAG_ACTOR_BIRTHPLACE</b></li>
	<li>The TAG_ACTRESS_ROLE <b>TAG_ACTRESS</b> has born on this day at <b>TAG_ACTRESS_BIRTHPLACE</b></li>
	<li>The TAG_PLAYER_ROLE <b>TAG_PLAYER</b> has born on this day at <b>TAG_PLAYER_BIRTHPLACE</b></li>
	<li>Did you know on the year of your birth <b>TAG_TV_SHOW </b> was one of the most popular TV series</li>
	<li>Did you know on the year of your birth <b>TAG_MOVIE </b> was one of the most popular Movie</li>
</ul>
<p>We hope you liked some of the amazing facts and historic events we had to share on the eve of your birthday. </p>
<p>Happy Birthday and Have a Good One!</p>
<p>Regards,</p>
<p>Birthday Headlines Team</p>
</div> -->
