<div>
<div class="col-sm-12"><img src="http://74.208.87.238:3000/modules/customers/client/img/gift.png" /></div>
<h2>Lets go back to Historical events</h2>
<p>Dear TAG_CUSTOMER, </p>
<p>Greetings from Birthday Headlines!</p>
<p>Hoping to bring you a smile by recollecting some of the amazing things that has happened on this day in History?  </p>
<p>BTW, Do you know ?</p>
<ul>
    <li>​<b>TAG_PRESIDENT</b> was the President of the United States</li>
    <li><b>TAG_VICE_PRESIDENT</b> was serving as Vice President<br></li>
    <li>TAG_INCIDENT1</li>
    <li>TAG_INCIDENT2</li>
    <li>TAG_INCIDENT3</li>
    <li>TAG_INCIDENT4</li>
    <li>Do you know on the year of your birth <b>TAG_TV_SHOW </b> was one of the most popular TV series</li>
    <li>Do you know on the year of your birth <b>TAG_MOVIE </b> was one of the most popular Movie</li>
</ul>
<p>If you need a bit of more historical events by Birthday Headlines. Below are,</p>

<div class="col-sm-12">
<table style="width: 100%;">
    <tbody>
    <tr>
        <td style="width: 33%;">
            <img src=TAG_ACTOR_IMAGE height="220" />
        </td>
        <td style="width: 33%;">
            <img src=TAG_ACTRESS_IMAGE height="220" />
        </td>
        <td style="width: 33%;">
            <img src=TAG_PLAYER_IMAGE height="220" />
        </td>
    </tr>
    <tr>
        <td style="width: 33%;">
            <b>Famous TAG_ACTOR_ROLE</b>
        </td>
        <td style="width: 33%;">
            <b>Famous TAG_ACTRESS_ROLE</b>
        </td>
        <td style="width: 33%;">
            <b>Famous TAG_PLAYER_ROLE</b>
        </td>
    </tr>
    <tr>
        <td style="width: 33%;">
            <b>Famous TAG_ACTOR</b>
        </td>
        <td style="width: 33%;">
            <b>Famous TAG_ACTRESS</b>
        </td>
        <td style="width: 33%;">
            <b>Famous TAG_PLAYER</b>
        </td>
    </tr>
    <tr>
    	<td colspan="3"></td>
    </tr>
    <tr>
    	<td colspan="3">
				<p>Happy Birthday and Have a Good One!</p>
				<p>Regards,</p>
				<p>Birthday Headlines Team</p>
    	</td>
    </tr>
  </tbody>
 </table>
</div>
</div>