<div class="md-padding">
  <md-content layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
    <md-card flex="flex" flex-gt-sm="50" flex-gt-md="25">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2><span>Restore your password</span></h2>
        </div>
      </md-toolbar>
      <md-card-content>
        <form name="vm.forgotPasswordForm" ng-submit="vm.askForPasswordReset(vm.forgotPasswordForm.$valid)" class="form-horizontal" novalidate autocomplete="off">
          <md-input-container flex class="form-group md-block" show-errors>
            <input type="email" id="email" name="email" class="form-control" ng-model="vm.credentials.email" placeholder="Email" lowercase required autofocus>
            <div ng-messages="vm.forgotPasswordForm.email.$error" role="alert">
              <p class="my-message" ng-message="required">Please enter your email address</p>
              <p class="my-message" ng-message="email">Invalid email address</p>
            </div>
          </md-input-container>
          <div class="text-center form-group">
            <md-button type="submit" class="md-raised md-primary faded-jade" ng-hide="vm.isButtonLoading" ng-disabled="!vm.forgotPasswordForm.$valid">Submit</md-button>
          </div>
          <div class="text-center form-group">
            <md-button class="md-raised md-primary faded-jade" ng-show="vm.isButtonLoading" type="submit" ng-disabled="true"><i class="fa fa-refresh fa-spin"></i> Loading</md-button>
          </div>
        </form>
      </md-card-content>
    </md-card>
  </md-content>
</div>
