<section>
  <!--   {{vm.subscriptions}}
 -->
  <div class="list-group" style="margin-top:50px">
    <table class="table table-striped table-condensed table-hover">
      <thead>
        <tr>
          <th class="col-md-1">Name&nbsp;</th>
          <th class="col-md-2">Email&nbsp;</th>
          <th class="col-md-3">Subject&nbsp;</th>
          <th class="col-md-3">Message</th>
          <th class="col-md-1">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="contact in vm.contacts">
          <td>{{contact.name}}</td>
          <td>{{contact.email}}</td>
          <td>{{ contact.subject}}</td>
          <td>{{ contact.message}}</td>
          <td>
            <md-button class="md-raised md-primary faded-jade" ng-click="vm.remove(contact, event)"><span class="glyphicon glyphicon-trash"></span>
              <md-tooltip md-direction="bottom" class="mat-tooltip">Delete the contact</md-tooltip>
            </md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
