<div class="col-sm-12 col-xs-12">
  <div class="col-sm-2 col-xs-2">
  </div>
  <div class="col-sm-8 col-xs-8">
    <div class="alert alert-success" id="popup-success-container" role="alert">
      <ul style="list-style-type: none;">
        <li style="text-align:center"><span class="glyphicon" aria-hidden="true"></span><span class="success-message">Sorry.
Unable to verify your account.</span></li>
      </ul>
         <div class="text-center login">
      <md-button class="md-primary" ui-sref="authentication.signup">Please Register.</md-button>
    </div>
    </div>
  </div>
</div>