<div class="col-sm-12 col-xs-12">
  <div class="col-sm-2 col-xs-2">
  </div>
  <div class="col-sm-8 col-xs-8">
    <h4 style="text-align:center;">Sign Up </h4>
    <div class="text-center login">
      <md-button class="md-primary" ui-sref="authentication.signin">Existing user? Please login.</md-button>
    </div>
    <div id="popup-success-container">
      <ul style="list-style-type: none;">
        <li style="text-align:center"><span class="glyphicon" aria-hidden="true"></span><span>Thank you. 
 Please help us validate your account by clicking the validation link sent to your registered email id.</span></li>
      </ul>
    </div>
  </div>
</div>
