<div  class="md-padding">
  <md-content layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
    <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2><span>Log In</span></h2>
        </div>
      </md-toolbar>
      <md-card-content>
        <form name="vm.userForm" ng-submit="vm.signin(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
          <md-input-container class="form-group md-block" show-errors>
            <label for="usernameOrEmail">Email</label>
            <input type="email" id="usernameOrEmail" name="usernameOrEmail" class="form-control" ng-model="vm.credentials.usernameOrEmail" required autofocus/>
            <div ng-messages="vm.userForm.usernameOrEmail.$error" role="alert">
              <p class="my-message" ng-message="required">Please enter your email address</p>
              <p class="my-message" ng-message="email">Invalid email address</p>
            </div>
          </md-input-container>
          <md-input-container class="form-group md-block" show-errors>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password" required/>
            <div ng-messages="vm.userForm.password.$error" role="alert">
              <p class="my-message" ng-message="required">The user password is required</p>
            </div>
          </md-input-container>
          <div class="text-center form-group">
            <md-button type="submit" ng-disabled="!vm.userForm.$valid" class="md-raised md-primary faded-jade" ng-hide="vm.isButtonLoading">Sign In</md-button>
          </div>
          <div class="text-center form-group">
            <md-button class="md-raised md-primary faded-jade" ng-show="vm.isButtonLoading" type="submit" ng-disabled="true"><i class="fa fa-refresh fa-spin"></i> Loading</md-button>
          </div>
          <div class="text-center forgot-password">
            <md-button class="md-primary faded-jade" ui-sref="password.forgot">Forgot password?</md-button>
            <md-button class="md-primary faded-jade" ui-sref="authentication.signup">New User? Please Register</md-button>
          </div>
        </form>
      </md-card-content>
    </md-card>
  </md-content>
</div>
